# PubChem API Endpoints
# Copy this file to .env and customize values as needed
PUBCHEM_CID_URL=https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/smiles/{}/cids/JSON
PUBCHEM_PROP_URL=https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/{}/property/IUPACName/JSON
PUBCHEM_SYN_URL=https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/{}/synonyms/JSON

# Logging
LOG_LEVEL=INFO
